<div class="container">
    <div class="center">
        <div class="title">Let's Work</div>
        <div class="center">
            I'm available to discuss new projects, so feel free to reach out to me.
        </div>
        <div class="center">
            <div>Shoot me a message</div>
            <div></div>
        </div>
    </div>
   
    <div class="details">
        <div>
            <div class="email">folorunsodaniel5@gmail.com</div>
            <div>&copy; {{date | date: 'YYYY'}} - <span>Daniel Folorunso</span></div>
        </div>
        <div class="socials">
            <div>
                <div>- 01</div>
                <div>LinkedIn</div>  
                <div>Icon</div>
            </div>
            <div>
                <div>- 02</div>
                <div>X</div>  
                <div>Icon</div>
            </div>
            <div>
                <div>- 03</div>
                <div>GitHub</div>  
                <div>Icon</div>
            </div>
        </div>
    </div>
</div>