<!-- <img class="absolute" src="assets/home-2.png"> -->
<div class="container">
    <div>
        <div class="greetings">👋🏼 <span>Hello</span>, I’m Daniel</div>
        <div class="title">Experienced
            <br>
            Full-Stack Developer
        </div>
    </div>
    <div class="description">
        I'm a <span>skilled full stack developer</span>, experienced in Typescript, Node.js, Flutter, and Angular JS for
        <span>mobile</span>, <span>backend</span> and <span>frontend</span> work.
    </div>
</div>