.container
{
    position: relative;
    background: url("../../assets/home-1.png");
    object-fit: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
    height: calc(100vh - 8rem);
    width: calc(100vw - 8rem);
}

.absolute
{
    position: absolute;
    overflow: hidden;
}

.greetings
{
    font-size: 16px;
    font-weight: 700;
    span{
        font-weight: 600;
        opacity: 50%;
    }
}

.title
{
    font-weight: 700;
    font-size: 56px;
    font-family: monospace;
    background: linear-gradient(92.17deg, #FFFFFF -1.32%, #FF7898 56.11%, #DE5CFF 104.71%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description
{
    width: 45%;
    display: block;
    align-self: self-end;
    font-size: 32px;
    font-weight: 600;
    span{
        opacity: 50%;
    }
}